<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="PluginSection" type="TNT.Configuration.XmlSection`1[[System.Collections.Generic.List`1[[TNT.Plugin.Plugin, TNT.Plugin]], mscorlib]],TNT.Configuration"/>
	</configSections>
	<PluginSection>
		<References>
			<Reference Assembly="Test.exe" BaseType="TNT.Plugin.Plugin,TNT.Plugin"/>
		</References>
		<ArrayOfPlugin>
			<Plugin type="TestPlugin">
				<DestinationMenuStrip>menuStrip1</DestinationMenuStrip>
				<DestinationMenu>&amp;File</DestinationMenu>
				<MenuMergeIndex>2</MenuMergeIndex>
				<DestinationToolStrip>toolStrip1</DestinationToolStrip>
				<ToolStripMergeIndex>1</ToolStripMergeIndex>
				<LeadingMenuSeparator>true</LeadingMenuSeparator>
				<LeadingButtonSeparator>true</LeadingButtonSeparator>
			</Plugin>
			<Plugin type="FormPlugin">
				<DestinationMenuStrip>menuStrip1</DestinationMenuStrip>
				<DestinationMenu>&amp;File</DestinationMenu>
				<MenuMergeIndex>2</MenuMergeIndex>
				<DestinationToolStrip>toolStrip1</DestinationToolStrip>
				<ToolStripMergeIndex>1</ToolStripMergeIndex>
				<LeadingMenuSeparator>true</LeadingMenuSeparator>
				<LeadingButtonSeparator>true</LeadingButtonSeparator>
			</Plugin>
		</ArrayOfPlugin>
	</PluginSection>
</configuration>